.product-collection-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  min-height: 352px;
  padding: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border: 1px solid #ededed;
  border-radius: 4px;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(50%, hsla(0, 0%, 100%, 0.6)),
    to(#fefeef)
  );
  background-image: linear-gradient(
    180deg,
    hsla(0, 0%, 100%, 0.6) 50%,
    #fefeef
  );
  box-shadow: 0 4px 11px -3px #dadbd2;
  color: #716359;
  font-size: 17.6px;
  line-height: 1.2;
  font-weight: 400;
}

.product-item-image-link {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 160px;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.product-item-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.text-block-2 {
  position: absolute;
  left: -80%;
  top: 6%;
  right: 0%;
  bottom: auto;
  background-color: #dd2e2e;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  color: #fff;
  text-align: center;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.product-item-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.text-style-4lines {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.product-badge-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.text-best-before {
  margin-bottom: -13px;
  margin-left: auto;
  font-size: 13.76px;
}

.product-bottom-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  gap: 4px;
}

.add-to-basket-button {
  display: block;
  width: 128px;
  margin-left: auto;
  padding: 4px 8px 4px 28.8px;
  border-radius: 4px;
  background-color: #cbc8ab;
  background-image: url("cart.png"),
    -webkit-gradient(linear, left top, left bottom, from(#dddbc7), color-stop(100%, #cbc8ab), to(#000));
  background-image: url("cart.png"),
    linear-gradient(180deg, #dddbc7, #cbc8ab 100%, #000);
  background-position: 6px 50%, 0px 0px;
  background-size: auto, auto;
  background-repeat: no-repeat, repeat;
  font-size: 1.36rem;
  font-family: inherit;
  font-weight: 600;
  position: relative;
}


.add-to-basket-button:disabled,
.add-to-basket-button[aria-disabled="true"] {
  opacity: 0.4;
  cursor: default;
  background-color: #b8b7b6;
}

.w-form-done {
  display: none;
  padding: 20px;
  text-align: center;
  background-color: #dddddd;
}

.w-form-fail {
  display: none;
  margin-top: 10px;
  padding: 10px;
  background-color: #ffdede;
}

.product-price-wrapper {
  font-family: "Open Sans", sans-serif;
}

.product-original-price-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: -2px;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  color: #df0505;
  font-size: 13.6px;
  line-height: 0.8;
  text-decoration: line-through;
}

.product-price-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1px;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.text-dollar-sign {
  font-size: 0.8em;
}

.text-display-inline {
  display: inline;
}

.text-display-inline::first-letter {
  font-size: smaller;
}

.sold-out {
  font-size: 1.2rem;
  font-weight: 400;
  color: #ac1b17;
  text-align: right;
  float: right;
  padding-bottom: 0.6rem;
  padding-right: 0.3rem;
}

.sold-out-wrapper svg {
  flex-shrink: 0;
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.5rem;
}

.sold-out-wrapper .sold-out-message {
  color: #df0505;
}

.flexcolumn {
  display: flex;
  flex-direction: column;
}

.text-product-price-number::first-letter {
  font-size: smaller;
}

@media screen and (max-width: 479px) {
  .product-collection-item {
    min-height: 256px;
    padding: 8px;
    font-size: 14px;
  }

  .add-to-basket-button {
    background-size: 14px, auto;
    font-size: 12px;
    background-image: none;
    padding-left: 8px;
    width: fit-content;
  }

  .product-bottom-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: end;
    -webkit-align-items: end;
    -ms-flex-align: end;
    align-items: end;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    font-size: 24px;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .product-price-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }

  .text-style-4lines {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }
}
