.drawer {
  visibility: hidden;
}

.drawer.active {
  visibility: visible;
}

.drawer {
  position: absolute;
  width: 397px;
  left: -280px;
  top: 30px;
  padding: 12px 0 0;
  background: #fff;
  border-radius: 10px;
  border: 0 solid #dad6d0;
  box-shadow: 0 0 3px 1px rgb(51 47 39 / 25%);
  z-index: 11;
}

.drawer__cart-items-wrapper {
  max-height: 446px;
  overflow-x: hidden;
  overflow-y: visible;
  padding-bottom: 5px;
}

.cart-drawer__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
}

.drawer__inner {
  position: relative;
  z-index: 4;
}

.cart-drawer__overlay:empty {
  display: block;
}

table {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  font-size: 100%;
}

table.cart-items { 
  width: 100%;
}

table td {
  padding: 9px 6px;
  text-align: left;
  vertical-align: top;
  border-bottom: 1px solid #efeeec;
  font-weight: 300;
}

table .edge {
  width: 15px;
  border-bottom: none !important;
}

table .quantity {
  padding-left: 24px;
  text-align: right;
  font-size: 16px;
}

table .imagetable img {
  width: 60px;
  height: 60px;
  border: 1px solid #cbc8ab;
  max-width: none;
}

table .name {
  max-width: 200px;
  font-size: 16px;
  color: #5d5d5d;
}

table .name a.h4 {
  color: #5d5d5d;
  font-size: 1.72rem;
  font-family: inherit;
  line-height: 2.1rem;
}

table .price {
  text-align: right;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
  color: #867c75;
  padding-right: 24px;
}

.product-option {
  display: flex;
}

.totals {
  display: flex;
  justify-content: space-between;
  padding: 19px 24px 15px;
  background-color: rgba(190, 190, 190, 0.2);
  font-weight: 300;
}

.totals__subtotal {
  font-size: 2rem;
  color: #292929;
  line-height: 2.4rem;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
}

.totals__subtotal-value {
  font-size: 1.8rem;
  color: #867c75;
  font-family: 'Open Sans', sans-serif;
}

.cart-footer {
  padding: 17px 20px;
  display: flex;
  justify-content: space-between;
  background-color: #fefeef;
  font-size: 14px;
}

.cart-footer > .child {
  color: white;
  background-color: #cbc8ab;
  padding: 4px 8px 4px 28px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  cursor: pointer;
}

.cart_button {
  background: url("cart.png") 9px center no-repeat,
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.2) 0,
      rgba(255, 255, 255, 0) 100%
    );
}

.cart_button:hover {
  background: url("cart.png") 9px center no-repeat,
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0,
      rgba(255, 255, 255, 0.2) 100%
    );
  background-color: #cbc8ab;
}

.checkout_button {
  background: url("checkout-inv.png") 9px center no-repeat,
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.2) 0,
      rgba(255, 255, 255, 0) 100%
    );
}

.checkout_button:hover {
  background: url("checkout-inv.png") 9px center no-repeat,
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0,
      rgba(255, 255, 255, 0.2) 100%
    );
  background-color: #cbc8ab;
}

.checkout_button:disabled {
  opacity: 0.6;
  cursor: default;
  border-color: silver;
  background-color: #b8b7b6;
}
