.cart {
  position: relative;
  display: block;
}

.cart__empty-text,
.is-empty .cart__contents,
cart-items.is-empty .title-wrapper-with-link,
.is-empty .cart__footer {
  display: none;
}

.is-empty .cart__empty-text,
.is-empty .cart__warnings {
  display: block;
}

.cart__warnings {
  display: none;
  text-align: center;
  padding: 3rem 0 1rem;
}

.cart__empty-text {
  margin: 4.5rem 0 2rem;
}

.cart__contents > * + * {
  margin-top: 2.5rem;
}

.cart__login-title {
  margin: 5.5rem 0 0.5rem;
}

.cart__login-paragraph {
  margin-top: 0.8rem;
}

.cart__login-paragraph a {
  font-size: inherit;
}

@media screen and (min-width: 990px) {
  .cart__warnings {
    padding: 7rem 0 1rem;
  }

  .cart__empty-text {
    margin: 0 0 3rem;
  }
}

cart-items {
  display: block;
}

.cart__items {
  position: relative;
  padding-bottom: 3rem;
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
}

.cart__items--disabled {
  pointer-events: none;
}

.cart__footer {
  padding: 4rem 0 0;
}

.cart__footer-wrapper:last-child .cart__footer {
  padding-bottom: 5rem;
}

.cart__footer > div:only-child {
  margin-left: auto;
}

.cart__footer > * + * {
  margin-top: 4rem;
}

.cart__footer .discounts {
  margin-top: 1rem;
}

.cart__note {
  height: fit-content;
}

.cart__note label {
  display: flex;
  align-items: flex-end;
  position: absolute;
  line-height: 1;
  height: 1.8rem;
  top: -3rem;
  color: rgba(var(--color-foreground), 0.75);
}

.cart__note .field__input {
  height: 100%;
  position: relative;
  border-radius: var(--inputs-radius);
  padding: 1rem 2rem;
}

.cart__note .text-area {
  resize: vertical;
}

.cart__note:after,
.cart__note:hover.cart__note:after,
.cart__note:before,
.cart__note:hover.cart__note:before,
.cart__note .field__input:focus,
.cart__note .field__input {
  border-bottom-right-radius: 0;
}

@media screen and (min-width: 750px) {
  .cart__items {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-bottom: 4rem;
  }

  .cart__contents > * + * {
    margin-top: 0;
  }

  .cart__items + .cart__footer {
    grid-column: 2;
  }

  .cart__footer {
    display: flex;
    justify-content: space-between;
    border: 0;
  }

  .cart__footer-wrapper:last-child {
    padding-top: 0;
  }

  .cart__footer > * {
    width: 35rem;
  }

  .cart__footer > * + * {
    margin-left: 4rem;
    margin-top: 0;
  }
}

.cart__ctas button {
  width: 100%;
}

.cart__ctas > *:not(noscript:first-child) + * {
  margin-top: 1rem;
}

.cart__update-button {
  margin-bottom: 1rem;
}

.cart__dynamic-checkout-buttons {
  max-width: 36rem;
  margin: 0 auto;
}

.cart__blocks > * + * {
  margin-top: 1rem;
}

.cart__dynamic-checkout-buttons div[role="button"] {
  border-radius: var(--buttons-radius-outset) !important;
}

.cart-note__label {
  display: inline-block;
  margin-bottom: 1rem;
  line-height: calc(1 + 1 / var(--font-body-scale));
}

.tax-note {
  margin: 2.2rem 0 1.6rem auto;
  text-align: center;
  display: block;
}

.cart__checkout-button {
  max-width: 36rem;
}

.cart__ctas {
  text-align: center;
}

@media screen and (min-width: 750px) {
  .cart-note {
    max-width: 35rem;
  }

  .cart__update-button {
    margin-bottom: 0;
    margin-right: 0.8rem;
  }

  .tax-note {
    margin-bottom: 2.2rem;
    text-align: right;
  }

  [data-shopify-buttoncontainer] {
    justify-content: flex-end;
  }

  .cart__ctas {
    display: flex;
    gap: 1rem;
  }
}

/* new css */

.my-basket_heading-wrapper {
  position: relative;
  display: block;
  padding-bottom: 16px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 80px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr -webkit-max-content;
  -ms-grid-columns: 1fr max-content;
  grid-template-columns: 1fr -webkit-max-content;
  grid-template-columns: 1fr max-content;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-bottom: 1px solid #e0daa7;
  color: #716359;
}

.cart-form_block {
  overflow-x: auto;
  position: relative;
}

.cart-form_product {
  min-width: 720px;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 5.25fr 0.5fr 0.5fr 0.5fr 0.5fr;
  grid-template-columns: 5.25fr 0.5fr 0.5fr 0.5fr 0.5fr;
  -ms-grid-rows: auto 1fr;
  grid-template-rows: auto 1fr;
  text-align: left;
}

.div-block-3 {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 64px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.div-block-8 {
  height: 70px;
  /* border-bottom: 1px solid #d8d8d8; */
}

.div-block-5-copy {
  border-bottom: 1px solid #d8d8d8;
}
.div-block-5-copy:first-child {
  border-right: 1px solid #d8d8d8;
}

.div-cart-items-container {
  background-color: #cbc8ab;
}

.div-cart-items-container:nth-child(odd) {
  background-color: #fff;
}

.div-cart-items-container:nth-child(even) {
  background-color: #f3f3f3;
}

.div-block-4:nth-child(even) {
  background-color: #fff;
}

.div-block-4:nth-child(odd) {
  background-color: #f3f3f3;
}

.div-block-4 {
  border-bottom: #2f2f2f;
  display: -ms-grid;
  display: grid;
  overflow: hidden;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 3fr 0.5fr 0.5fr 0.5fr 0.5fr;
  grid-template-columns: 3fr 0.5fr 0.5fr 0.5fr 0.5fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  /* box-shadow: 0 0 14px -5px rgba(0, 0, 0, 0.53); */
}

.div-block-4-copy {
  display: -ms-grid;
  display: grid;
  overflow: hidden;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 70px 1fr;
  grid-template-columns: 70px 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  /* border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px; */
  /* box-shadow: 0 0 14px -5px rgba(0, 0, 0, 0.53); */
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #d8d8d8;
  padding-top: 8px;
  padding-bottom: 8px;
}

.div-block-6 {
  position: relative;
  padding-left: 125px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 9px -4px rgba(0, 0, 0, 0.49);
}

.div-block-6-copy {
  position: relative;
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 16px;
  -ms-grid-columns: 3fr 0.5fr 0.5fr 0.5fr 0.5fr;
  grid-template-columns: 3fr 0.5fr 0.5fr 0.5fr 0.5fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 9px -4px rgba(0, 0, 0, 0.49);
}

.div-block-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.gridspan1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

.center {
  -ms-grid-row-align: center;
  align-content: center;
  -ms-grid-column-align: center;
  justify-content: center;
}

.my-basket_product-name {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 1.6rem;
  padding-left: 1.6rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-weight: 300;
  text-align: left;
  color: #2f2f2f;
}

.my-basket_product-name .gridspan1 {
  font-size: 1.6rem;
  line-height: 2.25rem;
}

.my-basket_column-title {
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 300;
  text-align: center;
  font-variant: small-caps;
}

.my-basket_product-name-copy {
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-weight: 300;
  text-align: center;
  font-variant: small-caps;
}

.image {
  width: 100%;
  height: min-content;
  max-height: 125px;
  padding: 8px;
  /* border-right: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8; */
  -o-object-fit: contain;
  object-fit: contain;
  aspect-ratio: 1;
}

.unit-text {
  font-size: 1.28rem;
}

.my-basket_product-details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 300;
}

.cart-quantity_form_input {
  min-height: 48px;
  margin-bottom: 12px;
  padding: 8px 16px;
  background-color: transparent;
  color: #867c75;
}
.input-disable {
  pointer-events: none;
}

.cart-quantity_form_input.is-quantity-form-input {
  position: static;
  width: 56px;
  height: 1.8px;
  max-height: 28.8px;
  min-height: 28.8px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 8px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-style: solid;
  border-width: 1px;
  border-color: #d8d8d8;
  color: #2f2f2f;
  font-weight: 400;
  text-align: center;
  -o-object-fit: cover;
  object-fit: cover;
}

.icon24px > svg {
  width: 24px;
  height: 24px;
}

.cart-button-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction: row;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.cart-button_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.my-basket_link,
.my-basket_link_update {
  text-overflow: ellipsis;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 27.2px;
  padding: 12px 8px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 4px;
  background-color: #dddbc7;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#dddbc7),
    to(#cbc8ab)
  );
  background-image: linear-gradient(180deg, #dddbc7, #cbc8ab);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fff;
  font-size: 12.8px;
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
}
.my-basket_link_update:hover {
  cursor: pointer;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#cbc8ab),
    to(#dddbc7)
  );
  background-image: linear-gradient(180deg, #cbc8ab, #dddbc7);
  text-decoration: none;
}
.my-basket_link:hover {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#cbc8ab),
    to(#dddbc7)
  );
  background-image: linear-gradient(180deg, #cbc8ab, #dddbc7);
  text-decoration: none;
}

.icon-embed-xxsmall {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 16px;
  height: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.icon-checkout-button {
  background-image: url("cart.png"),
    -webkit-gradient(linear, left bottom, left top, from(#cbc8ab), to(#dddbc7));
  background-image: url("cart.png"), linear-gradient(0deg, #cbc8ab, #dddbc7);
}

.icon-checkout-button:hover {
  background-image: url("cart.png"),
    -webkit-gradient(linear, left bottom, left top, from(#dddbc7), to(#cbc8ab));
  background-image: url("cart.png"), linear-gradient(0deg, #dddbc7, #cbc8ab);
  background-position: 10% 50%, 0px 0px;
  background-size: 22px 22px, auto;
  background-attachment: scroll, scroll;
}

.icon-checkout-button:disabled {
  background-image: url("cart.png"),
    -webkit-gradient(linear, left bottom, left top, from(#b8b7b6), to(#b8b7b6));
  background-image: url("cart.png"), linear-gradient(0deg, #b8b7b6, #b8b7b6);
}

.product-list-detail_name-link:hover {
  color: #ac1b17;
}

.cart-here {
  color: #b8b7b6;
}

.cart-here:hover {
  color: #ac1b17;
}

@media screen and (max-width: 991px) {
  .my-basket_heading-wrapper {
    grid-column-gap: 48px;
  }

  .my-basket_link,
  .my-basket_link_update {
    padding: 20px 40px;
  }
}

@media screen and (max-width: 767px) {
  .my-basket_heading-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    grid-row-gap: 32px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .my-basket_link,
  .my-basket_link_update {
    padding-right: 4px;
    padding-left: 4px;
  }
}

@media screen and (max-width: 479px) {
  .div-block-3 {
    overflow: auto;
    grid-column-gap: 16px;
  }

  .div-block-5 {
    overflow: auto;
    grid-column-gap: 16px;
  }

  .div-block-6 {
    padding-right: 20px;
    padding-left: 120px;
  }

  /* .div-block-4 {
    -ms-grid-columns: 2.5fr 0.25fr 0.5fr 0.5fr 0.5fr;
    grid-template-columns: 2.5fr 0.25fr 0.5fr 0.5fr 0.5fr;
  } */

  .my-basket_product-name {
    padding-right: 2px;
    padding-left: 2px;
  }

  .image {
    padding: 4px;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .product-list-detail_name-link {
    font-size: 12.8px;
  }

  .cart-button_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
