.disclosure {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
}

.disclosure.mobile {
  height: auto;
  width: 100%;
  flex-direction: column;
  align-items: start;
}

.disclosure__button {
  border: navajowhite;
  background: transparent;
  padding: 0;
}

.flex-button-style {
  display: flex;
}

.disclosure__button.mobile {
  margin-left: 20px;
}

.disclosure_img {
  cursor: pointer;
}

.disclosure__list {
  border-radius: 10px;
  /* right: -40px;
  top: 25px; */
  padding: 5px 15px;
  width: max-content;
  position: absolute;
  background-color: #fff;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 11;
  list-style: none;
  margin: 0;
}

.disclosure__list.mobile-v2 {
  position: absolute;
  z-index: 99;
  top: 2rem;
}

.disclosure__list.mobile {
  position: unset;
  width: 100%;
  right: auto;
  top: auto;
  padding: 8px 16px;
}

.disclosure__item a {
  color: #716359;
  padding: 3px;
  text-decoration: none;
}

.disclosure__item a:hover {
  color: #cbc8ab;
}

.disclosure__item.mobile a {
  padding: 0;
}
