.header-menu .page-padding {
  padding: 1.6rem 4rem;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.page-padding-v2 {
  padding: 0px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.header-menu .header-menu-top {
  display: flex;
  height: 100%;
  width: 100%;
  max-width: 1280px;
  align-items: end;
  justify-content: space-between;
  margin: auto;
}

.header-menu .header__heading-link-logo {
  display: flex;
  width: 25.6rem;
  align-items: center;
}

.menu-toggle-container {
  display: block;
}

.menu-toggle-container-v2 {
  display: none !important;
}

.category-box {
  background-color: #fafaf0;
}

.category-container {
  height: calc(100vh - 6rem);
  margin: 0 auto;
  max-width: 500px;
}

.category-wrapper {
  overflow: auto;
  align-items: self-start !important;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.category-wrapper::-webkit-scrollbar {
  display: none;
}

.grid-menu-item {
  margin-top: 12px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.6rem;
  width: 100%;
}

.item-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.menu-list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 4px;
  margin: 0 auto;
  max-width: 450px;
}

.item-title-container {
  font-size: 1.6rem;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.image-item {
  text-align: center;
}

@media screen and (max-width: 991px) {
  .category-wrapper {
    max-height: 70rem;
  }
  .header-menu .header-menu-top {
    align-items: center;
  }
  .menu-toggle-container {
    display: none !important;
  }

  .menu-toggle-container-v2 {
    display: block !important;
  }
}

@media screen and (max-width: 767px) {
  .header-menu .page-padding {
    padding: 0.8rem 2rem;
  }
}

@media screen and (max-width: 479px) {
  .category-wrapper {
    max-height: 55rem;
  }
  .header-menu .header__heading-link-logo {
    width: 19.2rem !important;
    margin-left: 0;
  }

  a.header__heading-link {
    flex: 1;
    display: flex;
    align-items: center;
  }
}
