
.main-pre-checkout {
  margin-top: -136px;
  position: relative;
  color: #2f2f2f;
}

.pre-checkout-overlay {
  position: absolute;
  height: 100%;
  width: 55%;
  left: 0;
  background-color: #fff;
  z-index: 0;
}

.pre-checkout-content {
  position: relative;
  display: flex;
}

.pre-checkout-left {
  width: 57%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #dddbc7;
  padding-right: 16px;
  z-index: 1;
}

.pre-checkout-overlay-left {
  position: absolute;
  width: 57%;
  background: #FFF;
  height: 100%;
  z-index: 0;
}

.pre-checkout-left_breadcrumbs {
  margin: 32px 0;
  grid-column-gap: 16px;
}

.checkout_delivery-location {
  display: inline;
  color: #ac1b17;
  font-weight: 600;
}

.checkout_section-label {
  color: #2f2f2f;
  font-weight: 400;
}

.w-input, .w-select {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

.checkout_section-select {
  margin-bottom: 0px;
  padding: 0px 16px;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  outline: none;
  font-family: inherit;
  color: #2f2f2f;
  font-size: inherit;
  
}

.checkout_section-select.area,
.checkout_section-select.district {
  width: 191px;
  text-overflow: ellipsis;
  overflow: hidden !important;
}

.checkout_section-select:focus-visible {
  box-shadow: none;
}

.checkout_section-select:focus{
  border-color: #3898EC;
  outline: 0;
}

.delivery-heading {
  font-size: 18px;
}

.pre-checkout-button {
  padding: 16px 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0.25rem;
  background-color: #cbc8ab;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#cbc8ab),
    to(#dddbc7)
  );
  background-image: linear-gradient(180deg, #cbc8ab, #dddbc7);
  transition: all 200ms ease;
  color: #fff;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.075rem;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
}

.pre-checkout-button:disabled {
  background-color: #d8d8d8;
  cursor: not-allowed;
  background-image: none;
}

.pre-checkout-button:not(:disabled):hover  {
  background-color: #006bbf;
  -webkit-filter: brightness(110%);
  filter: brightness(110%);
  text-decoration: none;
}

.pre-checkout-right {
  flex: 1;
  padding: 0 40px;
}

.cart-item-details {
  grid-column-gap: 1.6rem;
  grid-row-gap: 1.6rem;
  margin-bottom: 1.6rem;
}

.cart-item-img {
  border-radius: 8px;
  border: 1px solid #d8d8d8;
  height: 62px;
  width: 62px;
  border-right: 1px solid #d8d8d8;
  position: relative;
}

.cart-item-img img {
  padding: 8px;
  border-right: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  border-radius: 8px;
}

.cart-item-quantity {
  position: absolute;
  top: -1rem;
  right: -1rem;
  background-color: hsla(0,0%,45%,.9);
  color: #FFF;
  width: 2.1rem;
  height: 2.1rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
}

.cart-item-name {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 1rem;
  padding-left: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: left;
  flex: 1;
}

.total-amount {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  padding: 0 16px;
  font-size: 12px;
}

.delivery-schedule-wrapper {
  overflow-x: auto;
  position: relative;
}

.delivery-schedule-wrapper::-webkit-scrollbar { 
  display: none;
}

.delivery-schedule-section.transform {
  transform: translateX(-775px); 
  transition: transform 500ms ease 0s;
}

.delivery-schedule-item-date-wrapper{
  grid-column-gap: 8px;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.delivery-schedule-item-date {
  margin: 16px;
}

.animation-next {
  animation: 200ms 1 next;
  animation-timing-function: ease-in, linear, ease-out;
}

@keyframes next {
  0% {
    transform: translateX(678px);
  }
  100% {
    transform: translateX(0);
  }
}

.animation-back {
  animation: 200ms 1 back;
  animation-timing-function: ease-in, linear, ease-out;
}

@keyframes back {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(678px);
  }
}

.delivery-schedule-item-time-wrapper {
  padding: 16px 0;
  display: grid; 
  grid-column-gap: 8px;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.delivery-schedule-item-time {
  padding: 8px;
  background: #f4f4f4;
  border-radius: 4px;
}

.delivery-schedule-item-time-no-delivery,
.delivery-schedule-item-time-value
{
  padding: 8px;
  border: 1px solid #d8d8d8;
  border-radius: 8px;
  font-size: 1.6rem;
  line-height: 1.2;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.delivery-schedule-item-time-no-delivery,
.delivery-schedule-item-time-value.maximum-order {
  background-color: #e9e9e9;
  cursor: not-allowed;
}

.delivery-schedule-item-time-value {
  background-color: #FFF;
  min-height: 56px;
  height: auto;
}

.delivery-schedule-item-time-value svg {
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  right: 3px;
  top: 50%;
  transform: translateY(-50%);
  visibility: hidden;
}

.delivery-schedule-item-time-value.selected {
  border: 1px solid #30b90e;
}

.delivery-schedule-item-time-value.selected svg {
  visibility: visible;
}

.delivery-schedule-item-time-value:nth-child(even) {
  margin: 8px 0;
}

.delivery-schedule-item-time-value:last-child {
  margin-bottom: 0;
}

.icon-schedule {
  position: absolute;
  top: -15px;
  right: 0;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background: #d8d8d8;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon-schedule.back{
  left: 0;
  visibility: hidden;
}

.icon-schedule span {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
}

.icon-schedule span.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-left: -4px;
}

.icon-schedule span.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-right: -4px;
}

.back-to-basket{
  color: #716359;
  font-weight: 700;
}

.delivery-option div {
  gap: 1rem;
}

.delivery-option label {
  margin-bottom: 0;
  font-weight: normal;
}

.delivery-option input {
  margin: 0;
}

.delivery-district-description {
  font-size: 0.64rem;
}